node_modules/
build/
npm-debug.log
.env
.env.test
.env.production
.DS_Store
.npm
.eslintcache
discord.log
logfile.log
npm-debug.log*
__pycache__
**/__pycache__/*
.env_miko
ffmpeg/
.VSCodeCounter
*.log