# windows-curses for windows development

python-dotenv==1.0.1
requests==2.31.0
PyYAML==6.0.1
mysql-connector-python==8.3.0
dnspython==2.6.1
num2words==0.5.13
discord.py==2.3.1
# git+https://github.com/Rapptz/discord.py@d34a88411d3d973453d80128ab924f6aca197995
discord.py-Console==0.1.2
lavalink==4.0.6
pillow==10.2.0
pyarr==5.2.0
openai==1.14.3
aiomysql==0.2.0
aiohttp==3.9.0rc0
redis==5.0.3
hiredis==2.3.2
tiktoken==0.6.0 # ChatGPT Token counting